.cards{
    height: 50vh;
    background-color: var(--mainBackground);
    font-size: 0.8rem;
}

.container{
    display: flex;
    justify-content: space-evenly;
}

.cardSky{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 18vw;
    padding: 1rem 1rem 1rem 1rem;
    height: 35vh;
    background-color: var(--DarkSkyBlue);
    color: var(--mainBackground);
    font-weight: bold;
    box-shadow: 0 4px 8px 0 var(--DarkSkyBlue), 0 6px 20px 0 #FEFCFB;

}

.cardDark{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
    width: 18vw;
    height: 35vh;
    background-color: var(--BlackColor);
    color: var(--mainBackground);
    font-weight: bold;
    box-shadow: 0 4px 8px 0 var(--BlackColor), 0 6px 20px 0 #FEFCFB;


}

.cardBlue{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
    width: 18vw;
    height: 35vh;
    background-color: var(--DarkBlueColor);
    color: var(--mainBackground);
    font-weight: bold;
    box-shadow: 0 4px 8px 0 var(--DarkBlueColor), 0 6px 20px 0 #FEFCFB;

}

.cardDark:hover{
    cursor: pointer;
    width: 19vw;
    height: 36vh;
    opacity: 0.8;

}

.cardSky:hover{
    cursor: pointer;
    width: 19vw;
    height: 36vh;
    opacity: 0.8;
}

.cardBlue:hover {
    cursor: pointer;
    width: 19vw;
    height: 36vh;
    opacity: 0.8;
}

.cards h2{
    text-align: center;
    margin-top: 3rem;
}

.p{
    font-size: 1.1rem;
}

.card-icons {
    font-size: 2.8rem;
    margin-left: 80%;
    
}

@media screen and (max-width:1024px){
    .cards{
        height: 25vh;
        background-color: var(--mainBackground);
        font-size: 0.8rem;
    }
    
    .container{
        display: flex;
        justify-content: space-evenly;
    }
    
    .cardSky{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 18vw;
        padding: 1rem 1rem 1rem 1rem;
        height: 15vh;
        background-color: var(--DarkSkyBlue);
        color: var(--mainBackground);
        font-weight: bold;
        box-shadow: 0 4px 8px 0 var(--DarkSkyBlue), 0 6px 20px 0 #FEFCFB;
    
    }
    
    .cardDark{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem 1rem 1rem 1rem;
        width: 18vw;
        height: 15vh;
        background-color: var(--BlackColor);
        color: var(--mainBackground);
        font-weight: bold;
        box-shadow: 0 4px 8px 0 var(--BlackColor), 0 6px 20px 0 #FEFCFB;
    
    
    }
    
    .cardBlue{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem 1rem 1rem 1rem;
        width: 18vw;
        height: 15vh;
        background-color: var(--DarkBlueColor);
        color: var(--mainBackground);
        font-weight: bold;
        box-shadow: 0 4px 8px 0 var(--DarkBlueColor), 0 6px 20px 0 #FEFCFB;
    
    }
    
    .cardDark:hover{
        cursor: pointer;
        width: 19vw;
        height: 16vh;
        opacity: 0.8;
    
    }
    
    .cardSky:hover{
        cursor: pointer;
        width: 19vw;
        height: 16vh;
        opacity: 0.8;
    }
    
    .cardBlue:hover {
        cursor: pointer;
        width: 19vw;
        height: 16vh;
        opacity: 0.8;
    }
    
    .cards h2{
        text-align: center;
        margin-top: 3rem;
    }
    
    .p{
        font-size: 0.8rem;
    }
    
    .card-icons {
        font-size: 2.8rem;
        margin-left: 80%;
        
    }
    

}

@media screen and (max-width:480px){
    .cards{
        height: 200vh;
        background-color: var(--mainBackground);
        font-size: 0.8rem;
        margin:1% 1% 1% 1%;
    }
    
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .cardSky{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 85vw;
        margin: 1rem 1rem 1rem 1rem ;
        padding: 1rem 1rem 1rem 1rem;
        height: 30vh;
        background-color: var(--DarkSkyBlue);
        color: var(--mainBackground);
        font-weight: bold;
        box-shadow: 0 4px 8px 0 var(--DarkSkyBlue), 0 6px 20px 0 #FEFCFB;
    
    }
    
    .cardDark{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 1rem 1rem 1rem 1rem ;
        padding: 1rem 1rem 1rem 1rem;
        width: 85vw;
        height: 30vh;
        background-color: var(--BlackColor);
        color: var(--mainBackground);
        font-weight: bold;
        box-shadow: 0 4px 8px 0 var(--BlackColor), 0 6px 20px 0 #FEFCFB;
    
    
    }
    
    .cardBlue{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 1rem 1rem 1rem 1rem;
        padding: 1rem 1rem 1rem 1rem;
        width: 85vw;
        height: 30vh;
        background-color: var(--DarkBlueColor);
        color: var(--mainBackground);
        font-weight: bold;
        box-shadow: 0 4px 8px 0 var(--DarkBlueColor), 0 6px 20px 0 #FEFCFB;
    
    }
    
    .cardDark:hover{
        cursor: pointer;
        width: 16vw;
        height: 31vh;
        opacity: 0.8;
    
    }
    
    .cardSky:hover{
        cursor: pointer;
        width: 16vw;
        height: 31vh;
        opacity: 0.8;
    }
    
    .cardBlue:hover {
        cursor: pointer;
        width: 16vw;
        height: 31vh;
        opacity: 0.8;
    }
    
    .cards h2{
        text-align: center;
        margin-top: 3rem;
    }
    
    .p{
        font-size: 1rem;
    }
    
    .card-icons {
        font-size: 3rem;
        margin-left: 90%;
        
    }

}