header {
    /*height: 8vh;*/
    background-color: var(--mainBackground);
}
.logo {
    display: inline-block;
    color: var(--DarkBlueColor) ;
    
}

.logo__img {
   
    display: inline-block;
    height: 2rem;
    width: 8rem;

}
.logo span {
    display: inline-block;
    padding: 1rem 0 0 5rem;
    font-size: 1.4rem;
    font-weight: 700;
}


.right {
    display: inline-block;
    margin-left: 43vw;
}

ul {
    list-style:none;
}
ul li {
    display: inline-block;
    margin-left: 1.5rem;
    color: rgba(32,62,134,255);
    font-weight: 600;
    font-size: 25px;
}

ul li a {
    text-decoration: none;
    color: var(--DarkBlueColor);
}

ul a:hover {
    text-decoration: underline;
}

.signup {
    width: 10vw;
    text-align: center;
    background-color:var(--DarkBlueColor);
    border-radius:5px ;
    border-spacing: 1rem;
    padding: 0.2rem;
    
}

.right-menu {
    display: none
}
.signup a {
   color: var(--mainBackground); 
}
.signup :hover {
    text-decoration: none;
    width: 10rem;
    text-align: center;
}


@media screen and (max-width:768px) {
    .right-menu {
        display: block;
        position: absolute;
        top: 2%;
        right: 5%;
        font-size: 1.5rem;
    }
    .right {
        display: none;
    }
    .logo span {
        color: var(--DarkBlueColor) ;
        font-size: 1rem;
        font-weight: 700;
        padding-left: 2rem;
    }
}